﻿* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, Sans-serif;
    font-size: 12px;
    background: rgb(204,204,204);
}

.page[size="A4"] {
    background: white;
    width: 21cm;
    height: 29.7cm;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    padding: .5cm 1cm .5cm 1.5cm;
}

    .page[size="A4"][orientation="landscape"] {
        height: 21cm;
        width: 29.7cm;
    }

@media print {
    body, .page[size="A4"] {
        margin: 0;
        box-shadow: none;
    }
}

.page[size="A4"] > .content {
    display: table;
    height: 29cm;
    width: 18.5cm;
}

.page[size="A4"][orientation="landscape"] > .content {
    height: 20.5cm;
    width: 26.7cm;
}

h1, h2, h3 {
    font-weight: bold;
}

h1 {
    font-size: 2em;
    display: inline-block;
    max-width: 16cm;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1.1em;
}

h1 small {
    font-size: 0.55em;
    font-weight: normal;
    display: block;
}

p {
    margin-top: 0;
}

img.logo {
    float: right;
    margin-bottom: 5px;
}

.section {
    border: 1px solid #bebebe;
    padding: 0 10px 10px 10px;
    margin-bottom: 10px;
}

    .section .section-header {
        background-color: #e5e5e5;
        padding: 0 10px;
        border: 1px solid #000;
        margin: -1px -11px 10px;
    }

.no-bottom-border {
    border-bottom: none;
}

.no-top-border {
    border-top: none;
}

p.title {
    font-weight: bold;
    line-height: 1em;
    padding: 0;
    margin: 5px 0;
}

table {
    border-collapse: collapse;
    margin-bottom: 5px;
}

    table td, table th {
        padding: 3px 6px;
        font-weight: normal;
        text-align: left;
        vertical-align: top;
    }

    table td {
        font-size: 1.3em;
    }

    table.field-table {
    }

        table.field-table th {
            border: 1px solid #bebebe;
            border-bottom: none;
            padding-bottom: 0;
        }

        table.field-table td {
            padding-top: 0;
        }

    table.border {
    }

        table.border th,
        table.border td {
            font-size: 1.1em;
            border: 1px solid #bebebe;
            padding: 0 6px;
        }

    table.table {
    }

        table.table td,
        table.table th {
            border: 1px solid #bebebe;
        }

        table.table th {
            background-color: #e5e5e5;
        }

.rotate {
    vertical-align: bottom;
}

    .rotate > div {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
        position: relative;
        white-space: nowrap;
        bottom: 5px;
    }

        .rotate > div > span {
            white-space: normal;
            min-width: 80px;
            display: block;
        }

ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
}

.signature {
    width: 7cm;
    margin-bottom: -15px;
}

.signature-group {
    margin-top: 15px;
    margin-bottom: 25px;
}

.signature .signature-label {
    margin-bottom: -2px;
    background-color: #FFF;
    padding-bottom: 3px;
    padding-right: 3px;
}

.signature-field-description {
    display: inline-flex;
    top: 16px;
    position: relative;
    width: 0px;
    height: 0px;
    white-space: nowrap;
    left: 3px;
}

.signature .signature-line {
    display: block;
    height: 0;
    border-bottom: 1px solid #000;
}


.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.col-2 {
    width: 50%;
}

.clearfix {
    clear: both;
}

.page-footer {
    display: table-row;
}

    .page-footer > div {
        border: 1px solid #000;
        padding-top: 20px;
        background-color: #e5e5e5;
    }

    .page-footer span {
        display: inline-block;
        padding: 6px 20px;
    }

        .page-footer span.text-left {
            float: left;
        }

        .page-footer span.text-right {
            float: right;
        }

        .page-footer span.text-center {
            width: 50%;
        }
