﻿pre {
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.btn-group .linkbutton-fixedsize {
    width: 90%;
}

.progress {
    position: relative;
    width: 372px;
    border: 1px solid #ddd;
    padding: 1px;
    border-radius: 3px;
}

.bar {
    background-color: #B4F5B4;
    width: 0%;
    height: 42px;
    border-radius: 3px;
}

.percent {
    position: absolute;
    display: inline-block;
    top: 3px;
    left: 48%;
}

.pointer,
.pointer:hover {
    cursor: pointer;
}

.login-cell {
    width: 105px;
}

    .login-cell a span {
        display: flex;
    }

        .login-cell a span img {
            margin-right: 5px;
        }

@media only screen and (min-width: 1025px) {
    .header-section .navigaton-bar > ul > li:last-child {
        position: absolute;
        right: 17px;
    }
}

.general-container {
    padding-top: 15px;
}

.header-section .general-container {
    padding-top: 0;
}

table.dibk-table th,
table.dibk-table td {
    padding: 0.5em .75em;
}

table.dibk-table th {
    text-align: left;
}
