.dibk-design {
    font-family: "Open Sans";
    color: #222;
    font-weight: 400;
    line-height: 1.4;
    background-image: linear-gradient(164deg, rgba(137, 174, 196, 0.34), #fff, rgba(0, 117, 127, 0.19));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.dibk-design .general-container {
    max-width: 830px;
}

.dibk-design input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color 0.15s linear, background 0.15s linear;
    border-radius: 0;
    height: 46px;
    width: auto;
    display: block;
    padding: 10px;
    margin-bottom: 0;
    font-weight: 300;
    background-color: #fff;
    box-shadow: none;
    color: rgba(0, 0, 0, 0.75);
    font-family: inherit;
    font-size: 1.125rem;
    box-sizing: border-box;
    min-width: 40%;
    border: 1px solid #afaba8;
}

.dibk-design label {
    cursor: pointer;
    font-size: 18px;
    margin: 0 0 4px;
    font-family: "Open Sans", arial, sans-serif;
    line-height: 1.3;
    font-weight: 700;
    font-style: normal;
    display: block;
    color: #222;
}

.dibk-design button {
    cursor: pointer;
}

.dibk-design .input-field {
    margin-top: 10px;
}

.dibk-design .input-field-grid {
    display: flex;
}

.dibk-design .input-field-grid .input-field {
    margin-right: 10px;
}

.dibk-design .paper {
    line-height: 1.6;
    position: relative;
    padding: 24px 28px;
    margin: 20px 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.18);
}

.dibk-design .modal-container {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.dibk-design .modal-container .modal-content {
    position: static;
    border: 1px solid rgb(204, 204, 204);
    background: #fff;
    overflow: auto;
    padding: 40px 60px;
    max-width: 666px;
    margin: 0px auto;
}

.dibk-design .margin-top-1 {
    margin-top: 1rem;
}

.dibk-design .select-container {
    position: relative;
}


.dibk-design .select-container:before {
    position: absolute;
    display: block;
    content: "";
    top: 14px;
    right: 14px;
    height: 0;
    width: 0;
    background-color: #fff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #00757f;
    pointer-events: none;
}

.dibk-design .select-container select {
    transition: border-color 0.15s linear;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: auto;
    font-family: inherit;
    font-size: 1.125rem;
    padding: 10px 40px 10px 10px;
    border: 1px solid #afaba8;
    border-radius: 0;
    line-height: normal;
    background: #fff;
    cursor: pointer;
}

.dibk-design .table-container {
    overflow: auto;
}

.dibk-design .table-container table{
    width: 100%;
}

.dibk-design .validation-response-list{
    list-style: none;
    padding: 0;
    height: 300px;
    overflow: auto;
    font-size: 14px;
}

.dibk-design .validation-response-list li{
    border-bottom: 1px solid #eee;
    display: flex;
    padding: 8px 0;
}

.dibk-design .validation-response-list li > div{
    align-self: center;
    padding: 0 8px;
}

.dibk-design .validation-response-list li > div.message-type{
    width: 70px;
}

.dibk-design .validation-response-list li > div.message-text{
    flex: 1;
    word-break: break-word;
}

.dibk-design .validation-response-list li > div.message-reference{
   width: auto;
}

.dibk-design .json-data {
    font-size: 10px;
}

.loading-animation-container {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2);
    z-index: 6;
    background-repeat: no-repeat;
    background-position: 50% 15px;
    background-color: #fff;
    height: auto;
    width: 200px;
    border: 1px solid #ddd;
    padding: 15px;
    color: #666;
    display: block;
    text-align: center;
}

.loading-animation {
    content: url(images/spinner.svg);
    display: inline-block;
}

button .loading-animation {
    filter: brightness(2) grayscale(1);
    width: 24px;
    margin: -3px 0px -7px -5px;
}