﻿@{
    ViewBag.Title = "Utfylling av skjema";
}
<div class="header row">
    <div class="heading col-md-12">
        <h1>Skjema</h1>
    </div>
</div>

@section scripts {
    <script>
        var formurl = '@ViewBag.formurl';
        var messageId = '@ViewBag.messageId';
        var reporteeId = '@ViewBag.reporteeId';
    </script>
    <script src="@Url.Content("~/Scripts/vue-formedit.js")"></script>
}
<div id="formedit">
    <div v-if="formData">
        <div>
            <p><b>Tittel:</b> {{formData.Name}}</p>
            <p><b>Skjema:</b> {{formData.FormId}} - {{formData.ValidationStatus}}</p>
            <p><b>Dataformat:</b> {{formData.DataFormatId}} - {{formData.DataFormatVersion}}</p>
        </div>
    </div>
    <div v-if="formData">
        <a v-bind:href="'@System.Configuration.ConfigurationManager.AppSettings["altinnApi"]/Pages/ServiceEngine/FormsEngine/FillInForm.aspx?FormsID='+formData.FormId" class="linkbutton">Endre i Altinn</a>
    </div>

    <h3>Eksempeldata</h3>

    <div>
        <select v-on:change="setXmlSampleData($event.target.value)">
            <option v-bind:value="sampleIndex" v-for="(sample, sampleIndex) in samples">{{sample.Description}}</option>
        </select>
        <p v-if="selectedSample">{{selectedSample.Description}}</p>
    </div>

    <div>
        <textarea v-model="formXmlData" id="xmldata" autocomplete="off" rows="20"></textarea>

        <button type="button" v-on:click="validateForm()" class="linkbutton">
            Validér
        </button>
        
        <div v-if="jsonResponse" class="panel panel-default margin-top">
            <div class="panel-heading">Svar fra Altinn API:</div>
            <textarea v-model="jsonResponse" id="nabovarsel-xml" autocomplete="off" rows="20" class="margin-top"></textarea>
        </div>
    </div>

    <div>
        <button type="button" v-on:click="saveForm()" class="linkbutton">
            Lagre
        </button>
        <a id="edit-message" v-bind:href="'/SkjemaEdit?messageId=' + messageId + '&reporteeId=' + reporteeId" class="linkbutton">Utfylling av skjema</a>
    </div>
</div>