﻿@{
    ViewBag.Title = "Utfylling av skjema";
}

<div class="header row">
    <div class="heading col-md-12">
        <h1>Utfylling av skjema</h1>
    </div>
</div>

@section scripts {
    <script>
        var idMessage = '@ViewBag.messageId';
        var reporteeId = '@ViewBag.reporteeId';
        document.body.classList.add('dibk-design');
    </script>
    <script src="@Url.Content("~/Scripts/vue-skjemaedit.js")"></script>
}
<div id="skjemaedit">
    <div v-if="messageMetaData">
        <div class="paper">
            <h2>Melding:</h2>
            <div>
                <p><b>Meldingsid:</b> {{messageId}} - {{messageMetaData.Type}} {{messageMetaData.Status}}</p>
                <p><b>Tittel:</b> {{messageMetaData.Subject}}</p>
                <p><b>Sist endret:</b> {{messageMetaData.LastChangedDateTime}}</p>
            </div>
        </div>

        <div class="paper">
            <h2>Skjema:</h2>
            <div v-if="messageMetaData._links.form && messageMetaData._links.form.length" class="table-container">
                <table class="dibk-table">
                    <thead>
                        <tr>
                            <th>Skjema</th>
                            <th>Navn</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="form in messageMetaData._links.form">
                            <td>{{form.href}}</td>
                            <td>{{form.name}}</td>
                            <td>
                                <a v-bind:href="'/SkjemaEdit/form?messageid='+messageId+'&reporteeId='+reporteeId+'&formurl='+form.href">Endre</a>
                            </td>
                            <td v-if="messageMetaData.Subject !== form.name">
                                <a class="pointer" v-on:click="deleteForm(form.href)">Slett</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div v-else>
                <p>Ingen skjema er lagt til</p>
            </div>

            <button v-on:click="showAddFormModal = true" class="linkbutton pointer margin-top-1">Legg til skjema</button>

            <div v-if="subforms && showAddFormModal" class="modal-container">
                <div class="modal-content">
                    <label for="formtype">Velg skjematype</label>
                    <div class="select-container">
                        <select id="formtype" v-model="selectedAddForm">
                            <option v-for="ftype in notSelectedSubforms" v-bind:value="ftype">{{ftype.FormName}}</option>
                        </select>
                    </div>
                    <button v-on:click="showAddFormModal = false" class="linkbutton pointer margin-top-1">Avbryt</button>
                    <button v-bind:disabled="!selectedAddForm" v-on:click="handleAddFormClick()" class="linkbutton pointer margin-top-1">Legg til skjema</button>
                </div>
            </div>
        </div>
        <div class="paper">
            <h2>Vedlegg:</h2>
            <div v-if="messageAttachements && messageAttachements.length" class="table-container">
                <table class="dibk-table">
                    <thead>
                        <tr>
                            <th>Vedlegg</th>
                            <th>Vedleggstype</th>
                            <th>Filnavn</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(attachment) in messageAttachements">
                            <td>{{attachment._links.self.href}}</td>
                            <td>{{attachment.AttachmentTypeLocalized}}</td>
                            <td>{{attachment.FileName}}</td>
                            <td><a class="pointer" v-on:click="deleteAttachment(attachment._links.self.href)">Slett</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div v-else>
                <p>Ingen vedlegg er lagt til</p>
            </div>

            <button v-on:click="showAddAttachmentModal = true" class="linkbutton pointer margin-top-1">Legg til vedlegg</button>

            <div v-if="serviceMetaData" v-show="showAddAttachmentModal" class="modal-container">
                <div class="modal-content">
                    <label for="formtype">Velg vedleggstype</label>
                    <div class="select-container">
                        <select id="attachmenttype" v-if="serviceMetaData.AttachmentRules">
                            <option v-for="att in serviceMetaData.AttachmentRules" v-bind:value="att.AttachmentTypeName">{{att.AttachmentTypeNameLanguage}}</option>
                        </select>
                    </div>
                    <input type="file" id="fileToUpload" single name="uploadFieldName" class="input-file" v-show="progressbar === 0 || progressbar === 100">
                    <div class="progress" v-show="progressbar > 0 && progressbar < 100">
                        <div id="bar" v-bind:style="'width:' + progressbar + '%;'" class="bar"></div>
                        <div id="percent" class="percent">{{progressbar}}%</div>
                    </div>
                    <button v-on:click="showAddAttachmentModal = false" class="linkbutton pointer margin-top-1">Avbryt</button>
                    <button v-on:click="uploadFile()" class="linkbutton pointer margin-top-1">Last opp vedlegg</button>
                </div>
            </div>
        </div>
    </div>

    <h2 v-on:click="handleshowTiltaksHaverSignaturClick()"
        class="pointer"
        v-if="shouldShowTiltakshaverSignaturSection(subforms)">
        <span v-bind:class="showTiltaksHaverSignatur ? 'fa fa-chevron-down' : 'fa fa-chevron-right'"></span>Tiltakshaver signatur
    </h2>

    <div v-show="showTiltaksHaverSignatur">
        <div class="paper">
            <h2> Søknad info ({{tiltakshaverSignatur.ServiceCode ? tiltakshaverSignatur.ServiceCode : ''}}-{{tiltakshaverSignatur.ServiceEdition ? tiltakshaverSignatur.ServiceEdition : ''}})</h2>
            <p>
                <b for="Prosjektnavn">Prosjektnavn: </b>
                {{ tiltakshaverSignatur.Prosjektnavn ? tiltakshaverSignatur.Prosjektnavn : '' }}
            </p>
            <p>
                <b for="AnsvarligSoeker">Ansvarlig søker: </b>
                {{ tiltakshaverSignatur.AnsvarligSoeker ? tiltakshaverSignatur.AnsvarligSoeker : '' }}
            </p>
            <p>
                <b>Ansvarlig søkers organisasjonsnummer: </b>
                {{ tiltakshaverSignatur.AnsvarligSoekerOrganisasjonsnummer ? tiltakshaverSignatur.AnsvarligSoekerOrganisasjonsnummer : '' }}
            </p>
            <p>
                <b>Tiltakshaver: </b>
                {{ tiltakshaverSignatur.Tiltakshaver ? tiltakshaverSignatur.Tiltakshaver : '' }}
            </p>
        </div>


        <div id="eindomsDiv" v-if="tiltakshaverSignatur.Byggested && tiltakshaverSignatur.Byggested.length" class="paper">
            <h2>Eiendommer</h2>
            <div class="table-container">
                <table frame=vsides rules=rows id="Eiendoms" class="dibk-table">
                    <thead>
                        <tr id="0">
                            <th>Matrikkelenheter</th>
                            <th>Bygningsnr/Bolignr</th>
                            <th>Adresse</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(eiendom, eiendomIndex) in tiltakshaverSignatur.Byggested">
                            <td>{{eiendom.Kommunenr}}/{{eiendom.Gardsnr}}-{{eiendom.Bruksnr}}-{{eiendom.Festenr}}-{{eiendom.Seksjonsnr}}</td>
                            <td>{{eiendom.Bygningsnummer}}/{{eiendom.Bolignummer }}</td>
                            <td>{{eiendom.Adresselinje1}}, {{eiendom.Postnr}} - {{eiendom.Poststed}}, {{eiendom.Kommunenavn}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="paper">
            <h2>Tiltakstyper</h2>
            <div id="tiltaktypeDiv" v-if="tiltakshaverSignatur.Tiltaktypes && tiltakshaverSignatur.Tiltaktypes.length" class="table-container">
                <table frame=vsides rules=rows class="dibk-table" id="tiltakstypes">
                    <thead>
                        <tr id="0">
                            <th>kodeverdi</th>
                            <th>kodebeskrivelse</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(tiltaktype, tiltaktypeIndex) in tiltakshaverSignatur.Tiltaktypes">
                            <td>{{tiltaktype.kodeverdi}}</td>
                            <td>{{tiltaktype.kodebeskrivelse}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div>
            <button type="button" v-on:click="startTiltakshaverSignatur()" class="linkbutton pointer" :disabled="!canStartTiltakshaverSignatur || emailForTiltakshaverSignaturIsSent || emailForTiltakshaverSignaturIsSending">
                <img v-show="emailForTiltakshaverSignaturIsSending" class="loading-animation" src="~/Content/images/spinner.svg" /> Send til Tiltakshaver signatur
            </button>
        </div>

        <div v-if="emailHaveError">
            <h2>Intern feil - Kan ikke opprette eksempel post for Tiltakshaver</h2>
        </div>

        <div v-else-if="tiltakshaverSignatur.Guid">
            <div class="paper">
                <p>Tiltakshaver signatur ble opprettet</p>
                <p>Referanse: {{tiltakshaverSignatur.Guid}}</p>
            </div>
            <div class="paper">
                @*TODO popup epost to send*@
                @*<form v-bind:action="'mailto:' + this.email" method="post" enctype="application/x-www-form-urlencoded">
                        Hei:<br>
                        <input type="text" name="name"><br>
                        E-mail:<br>
                        <input type="text" name="mail"><br>
                        Comment:<br>
                        <input type="text" name="comment" size="50">
                        <br>
                        <a href="fkldsføldsfksd.com">testlinmmnknknkn</a>
                        <br>
                        <input type="submit" value="Send">
                        <input type="reset" value="Reset">
                    </form>*@


                @* Fix problem with encoding https://stackoverflow.com/a/30681664 *@

                <h2>E-posteksempel</h2>

                <p>
                    <b>Emne:</b> {{exampleEmailSubject}}
                </p>

                <p>
                    Hei, <b>{{tiltakshaverSignatur.Tiltakshaver}}</b>
                </p>

                Takk for at du valgte oss som ansvarlig søker for ditt byggeprosjekt i {{exampleEmailByggestedString}}.

                <p>
                    Før vi kan sette i gang med byggeprosjektet, må det søkes om tillatelse hos kommunen. Dette skal vi som ansvarlig søker hjelpe deg med. Selv om vi hjelper deg, er det du som tiltakshaver som står ansvarlig for gjennomføringen. Derfor er det viktig at du leser byggesøknaden vi har gjort klar, slik at du er kjent med hvilke plikter og rettigheter du har.
                </p>

                <p>
                    Du må godkjenne søknaden før vi kan sende den til kommunen. Samtidig samtykker du til at vi er ansvarlig søker på dine vegne. Dette gjør du ved å gå <a v-bind:href="'@System.Configuration.ConfigurationManager.AppSettings["thsamtykke"]/veiviser/'+tiltakshaverSignatur.Guid">til veiviseren for tiltakshavers signatur</a>
                    hos Direktoratet for byggkvalitet (DiBK).
                </p>
                <p></p>
                <p>{{getInTouchString}}</p>
                <p></p>
                <p>Med vennlig hilsen,</p>
                <p><b>{{tiltakshaverSignatur.AnsvarligSoeker}}</b></p>
                <p><i>Det er ikke mulig å svare på denne e-posten.</i></p>
            </div>
        </div>
    </div>

    <div class="paper">
        <div v-if="jsonResponse">
            <h2 class="panel-heading">Svar fra Altinn API:</h2>
            <textarea v-model="jsonResponse" id="nabovarsel-xml" autocomplete="off" rows="20" class="json-data"></textarea>
        </div>
    </div>

    <button type="button" v-on:click="saveMessage($event, 'true')" class="linkbutton pointer margin-top-1">
        Signer og arkiver
    </button>
</div>
