﻿@model System.Collections.Generic.List<DIBK.FellestjenesterBygg.TestEngine.Models.Skjema>
@{
    ViewBag.Title = "Send inn skjema";
}

@section scripts {
    <script src="@Url.Content("~/Scripts/vue-sendinnskjema.js")"></script>
    <script src="@Url.Content("~/Scripts/example-attachment.js")"></script>
    <script>
        document.body.classList.add('dibk-design');  
    </script>
}

<div class="header row">
    <div class="heading col-md-12">
        <h1>Send inn skjema</h1>
    </div>
</div>
<p>Data levert av Altinn</p>
<div id="sendinnskjema">
    <label for="selectedForm">Velg skjema</label>
    <div class="select-container">
        <select id="selectedForm" v-on:change="setChosenForm(JSON.parse($event.target.value))">
            <option v-bind:value='`{"DataFormatID": "${form.DataFormatID}", "ServiceEditionCode": ${form.ServiceEditionCode}}`' 
                    v-bind:selected="form.DataFormatID === chosenForm.DataFormatID && form.ServiceEditionCode === chosenForm.ServiceEditionCode" 
                    v-for="(form, formIndex) in forms" 
                    v-bind:data-servicecode="form.ServiceCode" 
                    v-if="form.AvailableService">{{form.Name}}</option>
        </select>
    </div>
    <div v-if="chosenForm">
        <div class="paper">
            <h2>Eksempeldata</h2>
            <div v-if="samples && samples.length>1">
                <div class="select-container">
                    <select v-on:change="updateSelectedSampleVariantId($event.target.value)">
                        <option v-bind:value="sampleIndex" v-for="(sample, sampleIndex) in samples">{{sample.Variant}}</option>
                    </select>
                </div>
                <p v-if="selectedSample">{{selectedSample.Description}}</p>
            </div>
            <textarea v-model="chosenForm.Data" id="nabovarsel-xml" autocomplete="off" rows="20" class="json-data"></textarea>
        </div>
        <div class="paper">
            <div class="form-group">
                <label for="chosenOrganizationNumber">Velg hvem du vil sende inn på vegne av</label>
                <div class="select-container">
                    <select id="chosenOrganizationNumber" v-model="chosenOrganizationNumber">
                        <option v-for="reporter in reportees" v-if="reporter.SocialSecurityNumber" selected value="my">{{ reporter.Name }} ({{ reporter.SocialSecurityNumber }})</option>
                        <option v-for="reporter in reportees" v-if="reporter.OrganizationNumber" v-bind:value="reporter.OrganizationNumber">{{ reporter.Name }} ({{ reporter.OrganizationNumber }})</option>
                    </select>
                </div>
            </div>
        </div>
        <div>
            <div class="btn-group margin-top text-right" role="group" aria-label="...">
                <button type="button" id="show-metadata" v-bind:disabled="!chosenForm.Data" v-on:click="showMetadata($event)" class="linkbutton">Hent metadata for tjenesten</button>
                <button type="button" id="save-xml" v-bind:disabled="!chosenForm.Data" v-on:click="saveForm($event, 'post')" class="linkbutton">Lagre til videre utfylling</button>
                <button type="button" id="post-xml" v-bind:disabled="!chosenForm.Data" v-on:click="submitAndArchiveForm($event, 'post')" class="linkbutton">Send inn og arkiver</button>
                <button type="button" id="validate-xml" v-bind:disabled="!chosenForm.Data" v-on:click="validateForm($event)" class="linkbutton">Valider</button>
                <a id="altinnStart" v-bind:href="'@System.Configuration.ConfigurationManager.AppSettings["altinnApi"]/Pages/ServiceEngine/Start/StartService.aspx?ServiceEditionCode=' + chosenForm.ServiceEditionCode + '&ServiceCode=' + chosenForm.ServiceCode" class="linkbutton">Start utfylling i Altinn</a>
            </div>
            
        </div>

        <div v-if="validationResponse" class="paper">
            <h2>Svar fra Validering API:</h2>
            <div>
                <p><b>Antall feil: </b>{{ validationResponse.Errors }}{{ validationResponse.errors }} </p>
                <p><b>Antall advarsler: </b>{{ validationResponse.Warnings }}{{ validationResponse.warnings }} </p>
                <h3>Meldinger (feil og advarsler):</h3>
                <ul class="validation-response-list">
                    <li v-for="msg in validationResponse.messages">
                        <div class="message-type">
                            <span v-if="msg.messagetype==='ERROR'" class="label label-danger">{{msg.messagetype}}</span>
                            <span v-else-if="msg.messagetype==='WARNING'" class="label label-warning">{{msg.messagetype}}</span>
                        </div>
                        <div class="message-text">{{msg.message}}</div>
                        <div class="message-reference">
                            <span class="label label-default">{{msg.reference}}</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div v-if="validationResponse.rulesChecked.length > 0">
                <h1>Regler som er sjekket:</h1>
                <ul class="validation-response-list">
                    <li v-for="rule in validationResponse.rulesChecked">
                        <div class="message-type">
                            <span v-if="rule.messagetype==='ERROR'" class="label label-danger">{{rule.messagetype}}</span>
                            <span v-else-if="rule.messagetype==='WARNING'" class="label label-warning">{{rule.messagetype}}</span>
                        </div>
                        <div class="message-text">{{rule.message}}</div>
                        <div class="message-reference">
                            <span class="label label-default">{{rule.id}} 
                                <span v-if="rule.checklistReference">({{rule.checklistReference}})</span>
                            </span>
                        </div>
                        <ul v-if="rule.preCondition"><li>{{rule.preCondition}}</li></ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="paper">
            <div v-if="jsonResponse">
                <h2 class="panel-heading">Svar fra Altinn API:</h2>
                <textarea v-model="jsonResponse" id="nabovarsel-xml" autocomplete="off" rows="20" class="json-data"></textarea>
            </div>
        </div>
        <div v-show="messageId" class="paper">
            <label>MessageId på innsendt skjema:</label>
            <div class="input-group">
                <input type="text" id="messageId" v-model="messageId" />
                <div v-show="editMessageId">
                    <a id="edit-message" v-bind:href="'/SkjemaEdit?messageId=' + editMessageId + '&reporteeId=' + chosenOrganizationNumber" class="linkbutton margin-top-1">Endre melding</a>
                </div>
            </div>
        </div>
    </div>
</div>

