﻿@{
    ViewBag.Title = "Beregn utnyttelsesgrad";
}

<div class="header row">
    <div class="heading col-md-12">
        <h1>Utnyttelsesgrad</h1>
    </div>
</div>
@section scripts {
    <script src="@Url.Content("~/Scripts/vue-utnyttelsesgrad.js")"></script>
}

<div id="utnyttelsesgrad">

    <div v-model="inputData" class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Velg beregning<select v-model="valgtBeregning"><option v-for="beregning in beregninger" v-bind:value="beregning">{{beregning.type}}</option></select></label>
            </div>
            <div v-for="(key, val) in inputData[valgtBeregning.visningsKode].data" class="form-group">
                <label> {{key}} <input v-model="val" type="number" /></label>
            </div>
            <div class="margin-top">
                <button type="button" v-if="valgtBeregning" v-on:click="postJson()" class="linkbutton">Beregn utnyttelsesgrad</button>
            </div>
        </div>
        <div class="col-md-6">
            <div v-if="valgtBeregning" class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Info</h3></div>
                <div class="panel-body">
                    <p><b>Reguleringsplan:</b><br /> {{valgtBeregning.regplan}}</p>
                    <p><b>Lover og regler:</b><br /> {{valgtBeregning.tekniskInfo}}</p>
                </div>
            </div>
            <div v-if="resultat" class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Resultat</h3></div>
                <div class="panel-body">
                    <div v-if="httpStatus == 'success' & resultat.statusKode == 0">
                        <p>{{ resultat.resultatBeskrivelse }} = {{ resultat.beregnetGradAvUtnytting }}{{ resultat.enhetForBeregning }}</p>

                    </div>
                    <div v-if="httpStatus == 'success' & resultat.statusKode == 1">
                        <p><b>Det oppstod en feil med kalkuleringen: </b>{{ resultat.resultatBeskrivelse }}</p>
                    </div>
                    <div v-if="httpStatus != 'success'">
                        <p><b>Det oppstod en feil med server kommunikasjonen: </b></p>
                        <p>Info tekst:<br />      {{jsonResponse.responseText}}</p>
                        <p>Status kode:<br />     {{jsonResponse.status}}</p>
                        <p>Status:<br />          {{jsonResponse.statusText}}</p>
                    </div>
                </div>
            </div>
            <div v-if="resultat" class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">JSON respons</h3></div>
                <div class="panel-body">
                    <pre>{{ resultat | json }}</pre>
                </div>
            </div>
        </div>
    </div>
</div>

