﻿
@{
    ViewBag.Title = "Min meldingsboks";
}

@section scripts {
    <script src="@Url.Content("~/Scripts/vue-meldingsboks.js")"></script>
}
<div id="meldingsboks">
    <div class="header row">
        <div class="heading col-md-12">
            <h1>Min meldingsboks</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a class="linkbutton" target="_blank" href="@System.Configuration.ConfigurationManager.AppSettings["altinnApi"]/Pages/ServiceEngine/MyMainPage/MyMainPage.aspx">Åpne min meldingsboks i Altinn</a>
        </div>
        <div class="col-md-6">
            <label>
                Velg aktør du vil representere:
                <select v-model="chosenReportee" v-on:change="showMessages()">
                    <option v-for="reporter in reportees" v-if="reporter.SocialSecurityNumber" selected v-bind:value="reporter.ReporteeId">{{ reporter.Name }} ({{ reporter.SocialSecurityNumber }})</option>
                    <option v-for="reporter in reportees" v-if="reporter.OrganizationNumber" v-bind:value="reporter.OrganizationNumber">{{ reporter.Name }} ({{ reporter.OrganizationNumber }})</option>
                </select>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 margin-bottom">
            <table class="dibk-table" v-if="canShowMessages">
                <thead>
                    <tr>
                        <th>Meldings id</th>
                        <th>Tittel</th>
                        <th>Status</th>
                        <th>Type</th>
                        <th>Service Kode</th>
                        <th>Utfylling</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="message in forms._embedded.messages">
                        <td>{{message.MessageId}}</td>
                        <td>{{message.Subject}}</td>
                        <td>{{message.Status}}</td>
                        <td>{{message.Type}}</td>
                        <td>{{message.ServiceCode}}</td>
                        <td>
                            <a v-bind:href="'SkjemaEdit?messageId=' + message.MessageId + '&reporteeId=' + chosenReportee">Vis melding</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-5">
            <div v-if="selectedMessage" class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Deleger Skjema</h3>
                </div>
                <div class="panel-body">
                    <p>
                        <b>Message Id:</b><br /> {{selectedMessage.MessageId}}
                    </p>
                    <p>
                        <b>Message Subject:</b><br /> {{selectedMessage.Subject}}
                    </p>
                    <p>
                        <b>Mottaker:</b><br /> <select v-model="chosenIdType"><option disabled selected>Mottaker av skjema</option><option v-for="id in idSelectOptions" v-bind:value="id">{{id.ToEntity}}</option></select>
                    </p>
                    <div v-if="chosenIdType.IdType">
                        <p>
                            <b>{{chosenIdType.ToEntity}}:</b><br /> <input type="text" v-model="chosenIdNumber" v-bind:placeholder="chosenIdType.FieldText">
                        </p>
                        <p>
                            <b>{{chosenIdType.NameType}}:</b><br /> <input type="text" v-model="chosenName" placeholder="skriv inn navn">
                        </p>
                        <p>
                            <b>Epost:</b><br /> <input type="text" v-model="chosenEmail" placeholder="skriv in epost">
                        </p>
                        <button type="button" v-on:click="delegateRight(chosenIdType, selectedMessage,chosenIdNumber,chosenName,chosenEmail)" class="linkbutton">Send delegering</button>
                    </div>
                </div>
            </div>

            <!-- *** Resultat av Delegering *** -->
            <div v-if="httpStatus != 'tbd'" class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Delegasjons status</h3>
                </div>
                <div v-if="httpStatus == 'success'">
                    <p>
                        Delegasjonen OK<br />
                    </p>
                </div>
                <div v-else>
                    <p>
                        <b>Delegasjonen feilet</b>
                    </p>
                </div>
                <p>
                    <b>Info tekst:</b><br /> {{jsonResponse.responseText}}
                </p>
                <p>
                    <b>Status kode:</b><br /> {{jsonResponse.status}}
                </p>
                <p>
                    <b>Status:</b><br /> {{jsonResponse.statusText}}
                </p>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>