﻿
<div class="row">
    <div class="col-md-7">
        <label>
            Eksempeldata:
        </label>
        <textarea v-model="chosenForm.Data"
                  id="nabovarsel-xml"
                  autocomplete="off"
                  rows="20"></textarea>
        <div class="btn-group margin-top pull-right" role="group" aria-label="...">
            <button type="button"
                    id="show-metadata"
                    v-bind:disabled="!chosenForm.Data"
                    v-on:click="showMetadata($event)"
                    class="linkbutton">
                Hent metadata for tjenesten
            </button>
            <button type="button"
                    id="save-xml"
                    v-bind:disabled="!chosenForm.Data"
                    v-on:click="saveForm($event, 'post')"
                    class="linkbutton">
                Lagre til videre utfylling
            </button>
            <button type="button"
                    id="post-xml"
                    v-bind:disabled="!chosenForm.Data"
                    v-on:click="ajaxRequest($event, 'post')"
                    class="linkbutton">
                Send inn og arkiver
            </button>
        </div>
    </div>
    <div class="col-md-5">
        <label>Melding-ID:</label>
        <div class="input-group">
            <input type="text" id="messageId" v-model="messageId" />
            <span class="input-group-btn">
                <button id="show-message"
                        v-bind:disabled="!messageId"
                        v-on:click="showMessage($event)"
                        class="linkbutton">
                    Vis melding
                </button>
            </span>
        </div>
        <div v-if="jsonResponse" class="panel panel-default margin-top">
            <div class="panel-heading">Svar fra Altinn API:</div>
            <div class="panel-body">{{ jsonResponse }}</div>
        </div>
    </div>
</div>