﻿@using KommIT.FIKS.AdapterAltinnSvarUt.Models
@using Newtonsoft.Json;
@using Newtonsoft.Json.Serialization;
@{
    var settings = new JsonSerializerSettings { ContractResolver = new DefaultContractResolver { NamingStrategy = new CamelCaseNamingStrategy() } };
    var apiConfig = JsonConvert.SerializeObject(ViewData["ApiConfig"], settings);
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Content/bower_components/dibk-fb-webcommon/assets/images/favicon.ico" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <title>@ViewBag.Title - DiBK Fellestjenester Bygg</title>
    @Styles.Render("~/Content/bower_components/dibk-fb-webcommon/assets/css/styles")
</head>
<body>
    <div class="container body-content">
        <section class="header-section">
            <div class="header-background-image"></div>

            <div class="general-container">
                <div class="container">
                    <div class="navigation">
                        <a href="/">
                            <img class="mobile-logo" src="/Content/bower_components/dibk-fb-webcommon/assets/images/dibk_logo_mob.svg">
                            <img class="desktop-logo" src="/Content/bower_components/dibk-fb-webcommon/assets/images/DiBk_logo_rgb.svg">
                        </a>
                        <nav id="main-menu" class="navigaton-bar">
                            <ul>
                                <li><a href="https://dibk-utvikling.atlassian.net/wiki/display/FB/Fellestjenester+Bygg">DOKUMENTASJON</a></li>
                                <li><a href="#" v-on:click="openMessageBox($event)">MIN MELDINGSBOKS</a></li>
                                <li v-show="isLoggedIn" style="display: none">
                                    <a href="#" v-on:click="logout($event)">LOGG UT</a>
                                </li>
                            </ul>
                        </nav>
                        <i id="menu-toggle" class="fa fa-bars" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="general-container">
                @RenderBody()
            </div>
        </section>

        <section>
            <footer>
                <div class="container body-content container-footer">
                    <div class="general-container">
                        <div class="row">
                            <div class="col-sm-4 footertext">
                                <h2>Kontakt oss</h2>

                                <ul>
                                    <li><a href="https://dibk.no/om-oss/Kontakt-oss/">Kontakt DIBK</a></li>
                                    <li>E-post: <a style="font-size: 1em; line-height: 1em;" title="Henvendelser om fortolkning av regelverk og generelle spørsmål kan rettes til post@dibk.no" href="mailto:post@dibk.no">post@dibk.no</a></li>
                                    <li>Byggsøk: <a style="font-size: 1em; line-height: 1em;" title="Spørsmål om Byggsøk? Send en epost til brukerstøtte" href="mailto:byggsok@dibk.no">byggsok@dibk.no</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-4 footertext">
                                <h2>Kontaktperson for DIBK</h2>
                                <ul>
                                    <li>Olaug Hana Nesheim</li>
                                    <li>Telefon: +47 93 05 66 35</li>
                                    <li>E-post: <a href="mailto:ohn@dibk.no">ohn@dibk.no</a></li>
                                </ul>

                            </div>
                            <div class="col-sm-4 footertext">
                                <h2>Kontaktperson for Arkitektum AS</h2>
                                <ul>
                                    <li>Tor Kjetil Nilsen</li>
                                    <li>Telefon: +47 48 14 84 68</li>
                                    <li>E-post: <a href="mailto:tor@arkitektum.no">tor@arkitektum.no</a></li>
                                </ul>
                            </div>
                        </div>
                        <hr />
                        <div class="margin-top">
                            <p class="pull-right">Versjon: @Html.ApplicationVersionNumber()</p>
                            <p>&copy; @DateTime.Now.Year - Direktoratet for byggkvalitet </p>

                        </div>
                    </div>
                </div>
            </footer>
        </section>

        <span data-api-config="@apiConfig"></span>

        @Scripts.Render(
            "~/Content/bower_components/dibk-fb-webcommon/assets/js/scripts",
            "~/Scripts/oidc-client-ts.min.js",
            "~/Scripts/api-utils.js",
            "~/Scripts/helpers.js",
            "~/Scripts/vue-main.js"
        )

        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
