﻿
@{
    ViewBag.Title = "Index";
    // int serviceCode = (ViewBag.ServiceCode != null) ? ViewBag.ServiceCode : 0;
}
@section scripts {
    <script>
        var serviceCode = '@ViewBag.ServiceCode';
        var serviceEdition = '@ViewBag.ServiceEdition';
    </script>
    <script src="@Url.Content("~/Scripts/vue-metadata.js")"></script>

}
<div id="metadata">
    <div class="header row" v-if="serviceCode">
        <div class="heading col-md-12">
            <h1>Metadata for @ViewBag.ServiceCode/@ViewBag.ServiceEdition</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" v-if="serviceCode">
            <div v-if="jsonResponse" class="panel panel-default">
                <div class="panel-heading">Altinn API testmiljø:</div>
                <div class="panel-body"><pre>{{ jsonResponse }}</pre></div>
            </div>
        </div>
        <div class="col-md-6" v-if="serviceCode">
            <div v-if="jsonResponse" class="panel panel-default">
                <div class="panel-heading">Altinn API produksjonsmiljø:</div>
                <div class="panel-body"><pre>{{ jsonResponseProd }}</pre></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
