﻿@{
    ViewBag.Title = "Testmotor";
}

@section scripts {
    <script src="@Url.Content("~/Scripts/vue-listskjemaer.js")"></script>
}

<div class="header row">
    <div class="heading col-md-12">
        <h1>Søknader - Fellestjenester bygg</h1>
    </div>
</div>

<p>Dette er en testmotor for innsending av elektroniske skjema i fbm. byggesøknader. Testmotoren sender inn søknader i Altinn testmiljø (TT02) og må ikke inneholde reelle søknader.</p>
<p>Endringer legges ut på <a href="https://dibk365.sharepoint.com/sites/fellestjenester-forum">fellesforum</a> for de som har tjenestekonsesjon</p>
<p>Oppdateringer fra system utvikling legges også ut på <a href="https://dibk-utvikling.atlassian.net/wiki/spaces/FB/pages/86867981/Utviklingsstatus">DiBK FtB Confluence</a></p>
<p>
    Fortløpende oppdateringer på Altinn tjenester ligger her:
    <a href="https://dibk.atlassian.net/wiki/spaces/FB/pages/647364609/Tjenesteoppsett+TT02"> Tjenesteoppsett TT02</a>
    og
    <a href="https://dibk.atlassian.net/wiki/spaces/FB/pages/647430157/Tjenesteoppsett+PROD"> Tjenesteoppsett PROD</a>
</p>

<div id="list-skjemaer" class="row">
    <div class="col-md-12 margin-bottom">
        <table class="dibk-table">
            <thead>
                <tr>
                    <th>Blankett</th>
                    <th>Tjenestekode</th>
                    <th>UtgaveNr</th>
                    <th>Navn</th>
                    <th>Innsending</th>
                    <th>Metadata</th>
                    <th>Sendes til</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="form in forms">
                    <td>{{form.FormId}}</td>
                    <td><span>{{form.ServiceCode}}</span></td>
                    <td><span>{{form.ServiceEditionCode}}</span></td>
                    <td>
                        {{form.Name}}
                        <span v-if="form.HasDocumentation">
                            <a v-bind:href="form.OpenWikiUrl">Dokumentasjon</a>
                        </span>
                    </td>
                    <td class="login-cell">                        
                        <span v-if="form.AvailableService">
                            <a href="#" v-on:click="login($event, `/Skjema?DataFormatID=${form.DataFormatID}&ServiceEditionCode=${form.ServiceEditionCode}`)">
                                <span v-if="!isLoggedIn">
                                    <img alt="ID-Porten logo" src="~/Content/bower_components/dibk-fb-webcommon/assets/images/idporten-logo.png" width="20"> Logg inn
                                </span>
                                <span v-else> Åpne</span>
                            </a>
                        </span>
                    </td>
                    <td>
                        <span>
                            <a v-bind:href="'/Metadata?ServiceCode='+form.ServiceCode+'&ServiceEdition='+form.ServiceEditionCode">Hent</a>
                        </span>
                    </td>
                    <td>{{form.SendTo}}</td>
                    <td>{{form.FormType}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="clearfix"></div>
</div>
<p>Testbrukere må benyttes for pålogging til ID porten. Ta kontakt med prosjektet om du trenger tilgang til testmiljø.</p>
<p>Les mer i dokumentasjon av <a href="https://dibk-utvikling.atlassian.net/wiki/display/FB/Fellestjenester+Bygg">fellestjenester bygg</a></p>
<p>Kildekoden til dette prosjektet ligger på <a href="https://bitbucket.org/dibk/">Bitbucket</a></p>

<div class="header row">
    <div class="heading col-md-12">
        <h2>Støttetjenester</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12 margin-bottom">
        <p>Se <a href="https://dibk-utvikling.atlassian.net/wiki/pages/viewpage.action?pageId=36339727">veiledere for mer dokumentasjon</a> om støttetjenester som beslutningstre, kodelister, preutfylling, tjenestekatalog, mm</p>
        <p>Se <a href="https://dibk-utvikling.atlassian.net/wiki/display/FB/BIM+i+byggesak">validering av BIM/IFC dokumentasjon</a> og testmiljø på <a href="https://test-bimvalbygg.dibk.no">https://test-bimvalbygg.dibk.no</a></p>
        <p>Se <a href="https://dibk-utvikling.atlassian.net/wiki/display/FB/Nasjonale+sjekklister+for+byggesak">nasjonale sjekklister for byggesak</a> </p>
    </div>
</div>

<div class="header row">
    <div class="heading col-md-12">
        <h2>Administrasjon forsendelse og mottak</h2>
    </div>
    <div class="clearfix"></div>
</div>
<div class="row">
    <div class="col-md-12 margin-bottom">
        <p>Se <a href="https://dibk-utvikling.atlassian.net/wiki/display/FB/Veileder+for+oppsett+kommune">veileder for oppsett kommuner</a> for endringer av på organisasjonsnummer, vedleggsrekkefølge, dokumenttype, tittelformatering i testmiljø <a href="https://test-admbygg.dibk.no/">https://test-admbygg.dibk.no/</a></p>
    </div>
    <div class="clearfix"></div>
</div>
